In [6]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 2.2.1     v purrr   0.2.4
v tibble  1.4.1     v dplyr   0.7.4
v tidyr   0.7.2     v stringr 1.2.0
v readr   1.1.1     v forcats 0.2.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [34]:
    users <- c("John","Paul", "Luke", "Mary", "John", "Mary", 
                "Luke", "Paul")
    start_times <- c("2018-07-14 04:55:57", "2018-07-14 
                         04:47:31",
                         "2018-07-15 03:02:22", "2018-07-15 
                          03:58:21",
                         "2018-07-16 04:56:41", "2018-07-16 
                          03:59:28",
                          "2018-07-16 03:13:21", "2018-07-16 
                          04:58:14")

     end_times <- c("2018-07-14 14:02:31", "2018-07-14 
                       15:03:17",
                       "2018-07-15 12:01:14", "2018-07-15 
                        12:59:45",
                        "2018-07-16 14:02:14", "2018-07-16 
                         13:01:14",
                         "2018-07-16 11:25:41", "2018-07-16 
                         13:22:17")

df <- data.frame(users,start_times,end_times)

In [35]:
df

  users start_times
1 John  2018-07-14 04:55:57
2 Paul  2018-07-14 \n                         04:47:31
3 Luke  2018-07-15 03:02:22
4 Mary  2018-07-15 \n                          03:58:21
5 John  2018-07-16 04:56:41
6 Mary  2018-07-16 \n                          03:59:28
7 Luke  2018-07-16 03:13:21
8 Paul  2018-07-16 \n                          04:58:14
  end_times
1 2018-07-14 14:02:31
2 2018-07-14 \n                       15:03:17
3 2018-07-15 12:01:14
4 2018-07-15 \n                        12:59:45
5 2018-07-16 14:02:14
6 2018-07-16 \n                         13:01:14
7 2018-07-16 11:25:41
8 2018-07-16 \n                         13:22:17

In [36]:
df$start_times <- as.POSIXct(df$start_times, format = "%Y-%m-%d %H:%M:%S")

In [37]:
df$end_times <- as.POSIXct(df$end_times, format = "%Y-%m-%d %H:%M:%S")

In [38]:
df$diff_time <- difftime(df$end_times, df$start_times, units = 'mins')

In [39]:
df$date_start <- as.Date(df$start_times)

In [40]:
glimpse(df)

Observations: 8
Variables: 5
$ users       <fctr> John, Paul, Luke, Mary, John, Mary, Luke, Paul
$ start_times <dttm> 2018-07-14 04:55:57, 2018-07-14 04:47:31, 2018-07-15 0...
$ end_times   <dttm> 2018-07-14 14:02:31, 2018-07-14 15:03:17, 2018-07-15 1...
$ diff_time   <time> 546.5667 mins, 615.7667 mins, 538.8667 mins, 541.4000 ...
$ date_start  <date> 2018-07-14, 2018-07-14, 2018-07-15, 2018-07-15, 2018-0...

In [41]:
df$diff_time

Time differences in mins
[1] 546.5667 615.7667 538.8667 541.4000 545.5500 541.7667 492.3333 504.0500

In [42]:
df

  users start_times         end_times           diff_time     date_start
1 John  2018-07-14 04:55:57 2018-07-14 14:02:31 546.5667 mins 2018-07-14
2 Paul  2018-07-14 04:47:31 2018-07-14 15:03:17 615.7667 mins 2018-07-14
3 Luke  2018-07-15 03:02:22 2018-07-15 12:01:14 538.8667 mins 2018-07-15
4 Mary  2018-07-15 03:58:21 2018-07-15 12:59:45 541.4000 mins 2018-07-15
5 John  2018-07-16 04:56:41 2018-07-16 14:02:14 545.5500 mins 2018-07-16
6 Mary  2018-07-16 03:59:28 2018-07-16 13:01:14 541.7667 mins 2018-07-16
7 Luke  2018-07-16 03:13:21 2018-07-16 11:25:41 492.3333 mins 2018-07-16
8 Paul  2018-07-16 04:58:14 2018-07-16 13:22:17 504.0500 mins 2018-07-16

In [52]:
df %>%
    group_by(date_start) %>%
    summarize(tot_time_wrked_30_min = round(sum(as.integer(diff_time)) / 30, digits = 0))

  date_start tot_time_wrked_30_min
1 2018-07-14 39
2 2018-07-15 36
3 2018-07-16 69